<footer class="footer">
    <div class="container">
        <div class="text-center text-light-bg">
            <p><br>Built at <i class="fa fa-globe" style="font-size: 20px"></i> by Shreyash Kumar</p>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>
</html>